body {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
}
html {
	background-color: #F9F9F9;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
}
body {
	background:#E8F5FE;
	font-family: Verdana, Arial,Vrinda,Tahoma;
	line-height: 175%;
	font-size:12px;
	color:#666;
}
a {
	color: #555;
	text-decoration:none;
}
a:hover {
	color: #0099CC;
}

img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	display:inline;
}
ul{
    margin:0;
	padding:0;
	list-style-position: outside;
	list-style-type: none;
}
li{
	margin:0;
	padding:0;
}
div{
	margin:0;
	padding:0;
}
.header_content {
	margin: 0 auto;
	padding:0px;
	width: 100%;
}
.header_content .right_nav {
	float: right;
	width: 80%;
	height: 50px;
}

.right_nav .text_left {
	float: left;
	width: 20%;
	padding: 22px 0 0 0;
	color: #CC3300;
}
.right_nav .text_right {
	float: right;
	width: 80%;
	display: inline;
	padding: 22px 0 0 0;
	text-align: right;
}
.nav_list a {
	display: inline;
	color:#3399CC;
}
.nav_list li {
      display:inline;
	  }
.nav_return a {
	display: inline;
	color:#3399CC;
}
.nav_return li {
	display: inline;
}



.left_back{
	background-image: url(../images/manage_r7_c2.jpg);
	background-repeat: no-repeat;
	cursor:pointer;
}
.left_back_onclick{
	background-image: url(../images/manage_r6_c2.jpg);
	background-repeat: no-repeat;
	color:#333333;
}




.bg_image{
	 background: url(../images/manage_r2_c14.jpg) no-repeat;
	 cursor:pointer;
}
.bg_image_onclick{
	 background: url(../images/manage_r2_c13.jpg) no-repeat;
	 color:#0099CC;
}
#sub_info {
	width: 99%;
	float:left;
	background-image: url(../images/manage_r3_c11.jpg);
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #B4C9C6;
	border-bottom-color: #B4C9C6;
	border-left-color: #B4C9C6;
	height: 27px;
	background-repeat: repeat-x;
	padding: 5px 0 0 0;
}
#man_zone {
	height: 445px;
	width: 99%;
	border: 1px solid #B4C9C6;
	margin: 6px 0 0 0;
	background-color:#FFFFFF;
	padding: 5px 0 5px 0;
	overflow: auto;
}
#man_zone table{
    background-color:#DBE6E3;
}
#man_zone table tr{
    background-color:#fff;
}
.left_title_1 {
	background-color: #F3F8F7;
	color:#73938E;
	font-weight:bold;
	line-height:30px;
	text-align:right
}
.left_title_2 {
	background-color: #fff;
	color:#73938E;
	font-weight:bold;
	line-height:30px;
	text-align:right;
}


.main{ padding:10px; background:#F4FAFF; color:#666666}

/*搜索框*/
.search{}
.search fieldset{ border:1px solid #CCCCCC; line-height:20px; padding:6px;}
.search_button{ background:url(../images/search.gif) no-repeat #FFFFFF; width:63px; height:24px; margin:0 auto; display:block; cursor: pointer;}
.search form{ margin:10px 0px 10px 0px;}
.date{ background:url(../images/date.gif) no-repeat; background-position:2px right; width:150px; border:1px solid #CCCCCC; height:18px;}
/*table_01 无边框*/
.table_01{ border:1px solid #CCCCCC; line-height:18px;}
.table_01 td{ border-collapse:collapse; border:0px; height:18px; padding:3px; color: #333333;}
.table_01 th{ background:#D6E7FB; font-size:14px; font-weight:bold; height:24px; padding:3px; line-height:24px; padding-left:20px;}

/*table_02 有边框*/
.table_02{ border:1px solid #CCCCCC; border-collapse:collapse; line-height:18px;}
.table_02 td{height:18px; padding:3px; color: #333333; border:1px solid #CCCCCC; }
.table_02 tr{}
.table_02 th{ background:#D6E7FB; font-size:14px; font-weight:bold; height:24px; padding:3px; line-height:24px; padding-left:20px;}


/*table_03 单双行*/
.table_03{border:1px solid #CCCCCC; border-collapse:collapse; line-height:18px;  background:#FFFFFF}
.table_03 tr td {border-collapse:collapse; border:1px solid #CCCCCC; height:18px; padding:3px; color: #333333;}
.table_03 tr.over {	background:#FDF7E1 ;cursor:hand;}
.table_03 th {	background:#D6E7FB; font-size:14px; font-weight:bold; height:24px; padding:3px; line-height:24px; }

/*选项卡*/ 
#tabs0 { width:50%; border:1px solid #D6E7FB;background-color: #f2f6fb;color:#333333;} 
.menu0{height:33px; border-bottom:1px solid #CCCCCC;} 
.menu0 li{display:block; float: left; width:101px; text-align: center; cursor:pointer; background: #ffffff; width:101px; height:33px;line-height:30px;} 
.menu0 li.hover{ background:url(../images/tab_on.gif) no-repeat #FFFFFF;width:101px; height:34px;font-weight:bold} 
#main0 ul{ display: none;} 
#main0 ul.block{display: block; } 
#tabs0 .main{ padding:0px; border-left:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC;border-right:1px solid #CCCCCC; }

/*选项卡表格*/
.tab_table{ line-height:20px;width:99%; border-collapse:collapse;}
.tab_table th{ background: #CCCCCC; border:1px solid #ffffff;text-align:center }
.tab_table tr td { border-collapse:collapse; height:20px; padding:3px; color: #333333;text-align:center}
.tab_table tr.alt {background:#EEF8FF ;}
.tab_table tr.over {background:#FDF7E1 ;cursor:hand;}


/*添加表格有边框*/
.add_table{border:1px solid #CCCCCC; border-collapse:collapse; line-height:18px;  background:#FFFFFF}
.add_table tr td {border-collapse:collapse; border:1px solid #CCCCCC; height:18px; padding:3px; color: #333333;}
.add_table tr.over {	background:#FDF7E1 ;cursor:hand;}
.add_table th {	background:#D6E7FB; font-size:14px; font-weight:bold; height:24px; padding:3px; line-height:24px; }

/*添加表格无边框*/
.add_table2{border:0; border-collapse:collapse; line-height:18px;}
.add_table2 tr td {border-collapse:collapse; border:0; height:18px; padding:3px; color: #333333;}




/*翻页*/
.page input{ width:50px;border:1px solid #CCCCCC; background:#FFFFFF; height:14px; padding:2px; color:#666666;}
.page span{line-height:18px;}
.page .button{ background:url(../images/page.gif) no-repeat; width:43px; height:18px; display:block; color:#999999; text-align:center;  margin-left:3px;}
.number{ color: #FFFFFF; padding:0px 2px 0px 6px;height:16px; width:14px; background:#698EAB; border:1px solid #021D3A; margin-left:2px;}
.number_on{color: #666666; padding:0px 2px 0px 6px;height:16px;width:14px; background:#ffffff; border:1px solid #021D3A;margin-left:2px;}


/*常用提示*/
.error{ background:#FFFBCC; border:1px solid #E6DB55; width:350px; height:16px; padding:12px 6px;}
.error img{ margin-bottom:-3px;}
.ok{ background:#D5FFCE; border:1px solid #9ADF8F;width:350px; height:16px; padding:12px 6px;}
.ok img{ margin-bottom:-3px;}
.alert{ background:#DBE3FF; border:1px solid #A2B4EE;width:350px; height:16px; padding:12px 6px;}
.alert img{ margin-bottom:-3px;}
.wrong{ background:#FFCECE; border:1px solid #DF8F8F;width:350px; height:16px; padding:12px 6px;}
.wrong img{ margin-bottom:-3px;}
/*button*/
/*.button_0{ background:url(../images/tj.gif) no-repeat; width:62px; height:27px; text-align:center; color:#FFFFFF; line-height:30px; margin-left:6px; border:0px; cursor:pointer;}*/
.button_0 {BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; LINE-HEIGHT: 26px; WIDTH: 79px; BACKGROUND: url(../images/btn_search.gif); HEIGHT: 26px; COLOR: #fff; FONT-SIZE: 13px; BORDER-TOP: 0px; FONT-WEIGHT: bold; BORDER-RIGHT: 0px;cursor:pointer;}